@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

@import "config/variables";
@import "config/placeholders";

@import "~bootstrap/scss/bootstrap", "~flickity/dist/flickity.min.css";

@import "base/body";
@import "base/btn";
@import "base/layout";
@import "base/rows";

@import "modules/forms";
@import "modules/video";
@import "modules/badges";
@import "modules/slider";
@import "modules/modal";

@import "layout/header";
@import "layout/intro";
@import "layout/advantages";
@import "layout/about";
@import "layout/category";
@import "layout/laboratory";
@import "layout/work";
@import "layout/sale";
@import "layout/certificates";
@import "layout/footer";

@import "layout/thanks";
