form {

  .wpcf7-form-control-wrap {
    position: static;

    &.user-message {
      flex-grow: 1;
    }
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    right: 0;
    color: $primary;
    font-size: .625rem;
  }

  .wpcf7-response-output {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: .875rem;
    color: $secondary;
  }
}

.form-group {
  position: relative;
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid $gray-200;

  &.in-focus {
    border-color: $secondary;

    label {
      top: 0;
      color: $secondary;
      font-size: .625rem;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 35%;
    margin-bottom: 0;
    font-size: .875rem;
    color: $body-color;
    transition: .5s;

    span {
      font-size: .625rem;
    }
  }

  .form-control {
    height: auto;
    padding: 5px 0;
    font-size: .875rem;
    color: $body-color;
    background: transparent;
    border: none;
  }

  &--textarea {

    label {
      top: 11%;
    }
  }
}