body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
    position: relative;
    overflow: hidden;
}

a {
    font-weight: bold;
    transition: .5s;
}

h2 {
    font-size: 1.8rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
        font-size: $h2-font-size;
    }
}

h3 {
    font-size: 1.5rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
        font-size: $h3-font-size;
    }
}

h4 {
    font-size: 1.25rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
        font-size: $h4-font-size;
    }
}

ul {
    margin: 0;
    @extend .list-unstyled;
}

figure {
    margin: 0;
}

textarea {
    resize: none;
}