.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: .5s;
  z-index: 5;

  svg {
    margin-left: 10px;
    transition: .5s;
  }

  &-light {
    color: $primary;

    svg {
      fill: $primary;
    }

    &:hover {
      color: #fff;
      background: $primary;
      border-color: $primary;

      svg {
        fill: #fff;
      }
    }
  }
}