#app-header {
  position: relative;
  z-index: 200;

  .header-bar {
    &--top {
      padding: 15px 0;
      background: #fff;
    }

    &--bottom {
      background: url("../images/bg/header-bg.svg") 50% 50% / cover no-repeat;
      background-color: $secondary;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .logo {
    margin-right: 15px;

    @media (min-width: map_get($grid-breakpoints, md)) {
      margin-right: 20px;
    }

    img {
      max-width: 30px;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        max-width: 50px;
      }
    }
  }

  .contacts-list {
    &-item {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        color: $body-color;

        svg {
          fill: $primary;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    background: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: transform 0.7s, opacity 0.4s;

    &.active {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }

    .header-nav {
      display: block;
      margin-top: auto;
      margin-bottom: 20px;

      &-item {
        text-align: center;
        margin-right: 0;

        a {
          padding: 15px 0;
        }

        &--output {
          a {
            justify-content: center;
          }
        }
      }
    }

    .contacts-list {
      margin-top: auto;

      li {
        margin-right: 0;
        margin-bottom: 15px;

        a {
          color: #fff;
        }
      }
    }
  }
}

.wpm-language-switcher {
  margin-right: 25px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-right: 35px;
  }

  li {
    position: relative;
    padding: 5px;
    width: 45px;
    height: 35px;
    cursor: pointer;
    background: #fff;

    a,
    span {
      span {
        text-transform: uppercase;
        font-size: 0.875rem;
        color: $body-color;
        transition: 0.5s;
      }
    }

    a {
      &:hover {
        span {
          color: $primary;
        }
      }
    }

    span {
      span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -15px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 6px 0 6px;
          border-color: $secondary transparent transparent transparent;
          transition: 0.5s;
        }
      }
    }

    ul {
      top: 30px !important;
      background: #fff;
    }

    &:hover {
      span {
        span {
          &::before {
            transform: translateY(-50%) scale(-1);
          }
        }
      }
    }
  }
}

.place-select-text {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 5px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 0.875rem;
    margin-right: 10px;
    margin-bottom: 0;
  }

  svg {
    fill: $primary;
    margin-right: 10px;
  }
}

.place-select {
  &.active {
    .place-select-list {
      height: 130px;
      opacity: 1;
      pointer-events: all;
    }
  }

  &-input {
    position: relative;
    cursor: pointer;
    display: flex;
    transition: 0.5s;

    &__value {
      font-size: 0.875rem;
      color: $secondary;
      border-bottom: 1px solid $secondary;
    }

    &__icon {
      position: relative;
      width: 6px;
      margin-left: 5px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &::before {
        top: 4px;
        border-width: 0 3px 5px 3px;
        border-color: transparent transparent $secondary transparent;
      }

      &::after {
        bottom: 4px;
        border-width: 5px 3px 0 3px;
        border-color: $secondary transparent transparent transparent;
      }
    }
  }

  &-list {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 150px;
    background: #fff;
    height: 0;
    overflow-y: auto;
    padding: 5px 15px;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: auto;
      top: 30px;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      border-right: 2px solid $gray-200;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($secondary, 0.7);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba($secondary, 1);
    }

    li {
      cursor: pointer;
      padding: 3px 0;

      span {
        position: relative;
        padding-bottom: 2px;
        color: $secondary;
        font-size: 0.875rem;
        transition: 0.5s;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background: $secondary;
          transition: 0.5s;
        }
      }

      &:hover {
        span {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;

  &-item {
    margin-right: 20px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      margin-right: 30px;
    }

    a {
      position: relative;
      display: block;
      padding: 25px 0;
      color: #fff;
      font-size: 0.875rem;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        font-size: 1rem;
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        height: 3px;
        opacity: 0;
        background: #fff;
        transition: left 0.5s, right 0.5s, opacity 0.8s;
      }

      &:hover {
        &::before {
          left: 0;
          right: 0;
          opacity: 1;
          transition: left 0.5s, right 0.5s, opacity 0.2s;
        }
      }
    }

    &--output {
      a {
        display: flex;
        align-items: center;

        .header-nav-item__icon {
          position: relative;
          width: 20px;
          height: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 10px;

          .line {
            width: 9px;
            height: 9px;
            background: #fff;
          }
        }
      }
    }
  }
}

.burger-menu {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 45px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: $secondary;
  z-index: 110;

  &.active {
    .line {
      position: absolute;
      top: 20px;
      left: 15px;

      &--top {
        transform: rotate(-45deg);
      }

      &--middle {
        transform: rotate(45deg);
      }

      &--bottom {
        width: 0;
      }
    }
  }

  .line {
    width: 24px;
    height: 2px;
    background: #fff;
    margin-bottom: 2px;
    transform: rotate(0);
    transition: 0.5s;

    &--bottom {
      width: 13px;
    }
  }
}
