.intro-description {
  padding: 30px 0;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 100%;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      width: 45%;
    }
  }

  &__text {
    position: relative;
    margin-top: 20px;
    padding: 10px 0;
    font-size: .875rem;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      margin-top: 0;
      margin-left: 30px;
      border-left: 1px solid $gray-200;
      width: 60%;
      padding: 10px 0 10px 30px;
    }
  }
}

.intro-stocks {
  background: url('../images/bg/intro-stocks-bg.jpg') 50% 50% /cover no-repeat;
  border-radius: 5px;

  &-item {
    width: 100%;

    @media (min-width: map_get($grid-breakpoints, md)) {
      display: flex;
    }
  }

  &-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 50%;
      margin-top: 0;
    }

    img {
      max-width: 90%;
    }
  }

  &-body {
    padding: 30px 25px 70px;
    color: #fff;

    @media (min-width: map_get($grid-breakpoints, md)) {
      width: 50%;
      padding: 50px 30px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding: 70px 50px;
    }
  }

  &-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
    margin-bottom: 20px;
    max-width: 200px;

    &-value {
      line-height: 1;

      span {
        font-size: 2.25rem;
        font-weight: bold;
      }

      &--old {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .5;

        span {
          position: relative;
          font-size: 1.5rem;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -1px;
            right: -1px;
            transform: translateY(-50%);
            height: 2px;
            background: #fff;
          }
        }
      }
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 15px;
  }
}

.intro-item {
  position: relative;
  display: block;
  width: 100%;
  @extend %img;
  padding-bottom: 56.25%;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  z-index: 10;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    height: calc(50% - 10px);
    padding-bottom: 0;
  }

  &::before {
    content: '';
    @extend %pos;
    background: linear-gradient(90deg, rgba(71, 84, 97, 0.7) 0%, rgba(71, 84, 97, 0) 67.05%);
    z-index: -2;
  }

  &-body {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    color: #fff;

    @media (min-width: map_get($grid-breakpoints, md)) {
      left: 30px;
      right: 30px;
      bottom: 30px;
    }
  }

  &__description {
    font-weight: normal;
    font-size: .875rem;

    @media (min-width: map_get($grid-breakpoints, md)) {
      font-size: 1rem;
    }
  }
}